/* General options */
body{
	margin: 0;
	color: #000;
	font: 22px/26px 'Open Sans', sans-serif;
	width: 100%;
}
img{ border-style: none; }
p {margin: 0;}
a{
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a:hover{
	text-decoration: none;
}
input,
textarea,
select{
	color: #979ea1;
	vertical-align: middle;
	font: 100% 'Open Sans', sans-serif;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
blockquote, q{quotes: none;}
q:before{content:"";}
q:after{content:"";}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form,fieldset{
	margin: 0;
	padding: 0;
	border-style: none;
}
a:focus,
input:focus,
textarea:focus,
select:focus{ outline: none; }
* {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#wrapper {
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-color: #eaeaea;
}
.container {
	padding: 0 10px;
	max-width: 660px;
	margin: 0 auto;
}
.container:after{
	content: '';
	clear: both;
	display: block;
}
/* header */
#header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	box-shadow: 2px 0 20px #b5b5b5;
}
#header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
#header ul li {
	display: inline-block;
	vertical-align: top;
	width: 33.333%;
	border-bottom: 1px solid #b5b5b5;
	text-align: center;
	background-color: #fff;
}
#header ul li+li {
	border-left: 1px solid #b5b5b5;
}
#header ul li a {
	position: relative;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
	text-transform: uppercase;
	color: #000;
	display: block;
}
#header ul li a span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 16px 10px 16px 45px;
	overflow: hidden;
}
#header .ico-music:before, #header .ico-video:before, #header .ico-games:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	text-indent: -9999px;
}
#header .ico-music:before {
	width: 18px;
	height: 18px;
	background: url(../img/ico-music.png) 50% 50% no-repeat;
	background-size: cover;
}
#header .ico-video:before {
	width: 20px;
	height: 20px;
	background: url(../img/ico-video.png) 50% 50% no-repeat;
	background-size: cover;
}
#header .ico-games:before {
	width: 23px;
	height: 16px;
	background: url(../img/ico-games.png) 50% 50% no-repeat;
	background-size: cover;
}
/*content*/
.content {
	display: table;
	width: 100%;
	height: 100%;
}
.content .cell {
	display: table-cell;
	vertical-align: middle;
	width: 1%;
	height: 100vh;
	padding: 55px 0 140px;
}
.content .block {
	overflow: hidden;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: 0 0 10px #ccc;
}
.content .title {
	background: #f8f8f8 linear-gradient(to top, #f5f5f5, #fff);
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 8px;
}
.content .title h2 {
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	margin: 0;
}
.descr {
	position: relative;
	padding: 25px 30px;
	text-align: center;
}
.descr span {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 20px 6px;
	max-width: 185px;
	text-align: left;
}
.descr .ico {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	width: 47px;
	height: 41px;
	background: url(../img/ico-mobile.png) 50% 50% no-repeat;
	background-size: cover;
}
.descr strong {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	display: block;
	text-align: center;
	margin-bottom: 12px;
}
.descr .btn {
	background: #f8f8f8 linear-gradient(to top, #36169d, #4924be);
	display: inline-block;
	vertical-align: top;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	min-width: 240px;
	color: #fff;
}
.descr .btn span {
	font-size: 26px;
	line-height: 30px;
	font-weight: 400;
	display: block;
	padding: 25px 15px;
	max-width: none;
	text-align: center;
}
/* footer */
#footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 11px;
	line-height: 13px;
	font-family: Arial, sans-serif;
	font-weight: normal;
	color: #959595;
	text-align: center;
	padding: 5px 5px 10px;
}
#footer p {
	margin: 0;
}

@media screen and (max-height: 375px){
	.content .cell {
		padding: 55px 45px 80px;
	}
	.descr {
		padding: 20px 30px;
	}
	.descr .ico {
		height: 31px;
		width: 36px;
	}
	.descr span {
		font-size: 11px;
		line-height: 14px;
		max-width: 150px;
		padding: 0 0 10px 10px;
	}
	.descr strong {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 12px;
	}
	.descr .btn {
		min-width: 200px;
	}
	.descr .btn span {
		font-size: 16px;
		line-height: 20px;
		max-width: none;
		padding: 10px;
	}
	#footer {
		font-size: 10px;
		line-height: 12px;
		padding: 5px 5px 8px;
	}
}
@media screen and (min-width: 991px){
	#header ul li a {
		font-size: 18px;
		line-height: 22px;
	}
	#header ul li a span {
		padding: 26px 10px 26px 45px;
	}
	#header .ico-music:before, #header .ico-video:before, #header .ico-games:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		text-indent: -9999px;
	}
	#header .ico-music:before {
		width: 28px;
		height: 28px;
	}
	#header .ico-video:before {
		width: 30px;
		height: 30px;
	}
	#header .ico-games:before {
		width: 35px;
		height: 24px;
	}
	.content .cell {
		padding: 80px 0 100px;
	}
	.content .block {
		border-radius: 8px;
	}
	.content .title {
		padding: 18px;
	}
	.content .title h2 {
		font-size: 30px;
		line-height: 34px;
	}
	.descr {
		padding: 50px 30px;
	}
	.descr span {
		font-size: 18px;
		line-height: 22px;
		padding: 0 0 40px 16px;
		max-width: 260px;
	}
	.descr .ico {
		width: 64px;
		height: 56px;
	}
	.descr strong {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 25px;
	}
	.descr .btn {
		min-width: 260px;
	}
	.descr .btn span {
		font-size: 30px;
		line-height: 34px;
		padding: 25px 15px;
	}
	#footer {
		font-size: 18px;
		line-height: 22px;
		padding: 10px 10px 25px;
	}
}